
{% extends "layout.html" %}
{% block content %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="FF06B5">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Magenta">
	<title>Login Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="/static/ananees800.png" alt="logo" width="100">
					</div>
						<div class="p-5 login-card">
							<h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
							<form method="POST" method="/login" class="needs-validation login-form" novalidate="" autocomplete="off">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									<div class="invalid-feedback">
										Email is invalid
									</div>
									<div id="email-wrong" class="mt-1 mx-2 text-danger text">
										Email not registered!
									</div>
								</div>

								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="password">Password</label>
										
									</div>
									<input id="password" type="password" class="form-control" name="password" required>
								    <div class="invalid-feedback">
								    	Password is required!
							    	</div>
									<div id="password-wrong" class="mt-1 mx-2 text-danger text">
										Wrong Password
									</div>
								</div>

								<div class="w-100 text-center mt-5">
									
									<button type="submit" class="submit">
										Login
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0 rounded-5 mt-3">
							<div class="text-center">
								Don't have an account? <a href="/register" class="text-dark">Create One</a>
							</div>
						</div>
					
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2023 &mdash; RaccoonCycle 
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

<script>
	const forms = document.querySelectorAll('.needs-validation')

	var email = document.getElementsByName('email')[0];

	document.addEventListener('DOMContentLoaded', () => {
		watchFormChanges();
	  });
	
	 function watchFormChanges() {
		const formControls = document.querySelectorAll('.form-control');
		formControls.forEach(input => {
		  input.addEventListener('keyup', () => {
			if(!input.checkValidity()){
				input.nextElementSibling.classList.remove('d-block');
				input.nextElementSibling.nextElementSibling.style.display = 'none';
			}
			
		  });
		});
	  }
	(() => {
		'use strict'
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		// Loop over them and prevent submission
		Array.from(forms).forEach(form => {
		  form.addEventListener('submit', event => {
			event.preventDefault();
			event.stopPropagation();
			if (form.checkValidity()) {
			 
			event.preventDefault()
			event.stopPropagation()		
			const xhr = new XMLHttpRequest();
			xhr.open("POST", "login");
			var email = document.getElementsByName('email')[0];
			var password = document.getElementsByName('password')[0];
			var email_wrong = document.getElementById('email-wrong');
			var password_wrong = document.getElementById('password-wrong');
			email_wrong.style.display = 'none';
			password_wrong.style.display = 'none';
			const json = JSON.stringify({
				email :email.value,
				password :password.value
			});
			console.log(json);
			xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
			xhr.onload = () => {
				if (xhr.readyState == 4 && xhr.status == 200) {
					status = xhr.responseText;
					console.log(xhr.responseText);
					if(status ==="wrong_email")
					{
						email_wrong.style.display = "block";
					}
					else if(status ==="wrong_password")
					{
						password_wrong.style.display = "block";
					}
					else{
						setCookie("user_id", status, 30);
						location.assign('/profile');
					}

				} else {
				  console.log(`Error: ${xhr.status}`);
				}
			  };
			  xhr.send(json);
			}
			else{			
				var form_control = document.getElementsByClassName('form-control');
				var invalid_feedback = document.getElementsByClassName('invalid-feedback');	
				for(var i = 0; i < form_control.length;i++)
				{
					invalid_feedback[i].classList.remove('d-block');
					if(!form_control[i].checkValidity())
					{
						invalid_feedback[i].classList.add('d-block');
					}
				}
			}
		  }, false)
		})
		})()


		function setCookie(cname, cvalue, exdays) {
			const d = new Date();
			d.setTime(d.getTime() + (exdays*24*60*60*1000));
			let expires = "expires="+ d.toUTCString();
			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		  }

</script>
{% endblock %}

</html>
