{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <link rel="icon" href="static/ananees800.png">

    <title>{{ post['description'] }}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


    
</head>
    <body>
        <div class="header-spacing"></div>

        <div class="post post-wide">
            <div class="profile-name mx-2 mt-1"><i class="fa-regular fa-user fa-xs"></i> &nbsp;{{ post['user_name'] }}</div>
            <div class="desc">{{ post['description'] }}</div>
                <div class="stats">
                    <span class="waste-genre {{ 'visually-hidden' if post.get('waste_type') == '' }}">#{{ post['waste_type'] }}</span>
                    <span class="distance" data-lat="{{ post['coordinates'].split(' ')[0] }}" data-lon="{{ post['coordinates'].split(' ')[1] }}"><i class="fa-solid fa-location-arrow"></i> &nbsp; - </span>
                </div>
            <div id="carousel1" class="carousel slide feed-img" data-bs-ride="carousel"  data-bs-interval="false">
                <div class="carousel-inner">
                    {% for image in post['image'] %}
                    <div class="carousel-item {{ 'active' if loop.index==1}}">
                        <img src="/static/post_images/{{image}}.jpg" class="d-block w-100">
                    </div>
                    {% endfor %}
                </div>
                <button id="prev" class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left fa-xl"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button id="next" class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right fa-xl"></i>             
                    <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="my-2 mx-1">
              <a class="post-address" href="http://maps.google.com/maps?q={{ post['coordinates'].split(' ')[0] }},{{ post['coordinates'].split(' ')[1] }}" target="_blank"><i class="fa-solid fa-location-dot"></i>&nbsp; The address</a>
              </div>
              <div class="post-time mt-3" data-timestamp="{{ post['timestamp'] }}"></div>

              <!--<div class="status"><i class="fa-solid fa-check"></i></div>--> 
              
        </div>

        <div class="my-5"></div>


    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            prevNext();
            distance();
            dateTime();
        });

        function dateTime(){
            var post_times = document.getElementsByClassName('post-time');
            const month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
            const weekday = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];

            for (var i = 0; i < post_times.length; i++){
                var timestamp = post_times[i].dataset.timestamp;
                dateTime = new Date(timestamp);
                const time = dateTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                post_times[i].innerHTML = time + '&nbsp; &#8226; &nbsp;'+ weekday[dateTime.getDay()] +', ' + month[dateTime.getMonth()] + ' ' + dateTime.getDate() +' ' + dateTime.getFullYear();
            }
        }

         function prevNext(){
            var carousel_inner = document.getElementsByClassName("carousel-inner");
            var prev = document.getElementsByClassName("carousel-control-prev");
            var next = document.getElementsByClassName("carousel-control-next");

            for (var i = 0; i < carousel_inner.length; i++)
            {
                console.log(carousel_inner[i].childElementCount);
                if(carousel_inner[i].childElementCount > 1)
                {
                    console.log(carousel_inner[i].nextElementSibling.style.display = "block");
                    prev[i].style.display = "block";
                    next[i].style.display = "block";
                }
            }
        }



        function distance(){
            var address_elements = document.getElementsByClassName("post-address");
            var distance_elements = document.getElementsByClassName("distance");
            var current_lat = 22.66447;
            var current_lon = 88.43420;

            var post_lat = distance_elements[0].dataset.lat;
            var post_lon = distance_elements[0].dataset.lon;
            var distanceInKm = getDistanceFromLatLonInKm(current_lat, current_lon, post_lat, post_lon);
            distance_elements[0].innerHTML = '<i class="fa-solid fa-compass"></i> &nbsp;' + distanceInKm.toFixed(1) + 'km';

             //Geoapify reverse geocoding
            fetch("https://api.geoapify.com/v1/geocode/reverse?lat=" + post_lat + "&lon=" + post_lon + "&apiKey=b96632d077f245a8809e094114682dfd")
            .then(response => response.json())
            .then(result => {
                console.log(result.features.length);
            if (result.features.length) {
                address_elements[0].innerHTML = '<i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp; ' + result.features[0].properties.formatted;
            } else {
                address_elements[0].innerHTML = '<i class="fa-solid fa-location-dot fa-lg"></i>&nbsp;&nbsp; No Address';
            }
            });
        
        }


        function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2-lat1);  // deg2rad below
            var dLon = deg2rad(lon2-lon1); 
            var a = 
              Math.sin(dLat/2) * Math.sin(dLat/2) +
              Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
              Math.sin(dLon/2) * Math.sin(dLon/2)
              ; 
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
            var d = R * c; // Distance in km
            return d;
          }
          
          function deg2rad(deg) {
            return deg * (Math.PI/180)
          }

    </script>

    {% endblock %}
</html>