{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <link rel="icon" href="static/ananees800.png">

    <title>Post</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


    
</head>
    <body>
        <div class="header-spacing"></div>

        <div class="post post-wide">
            <a href="#">@bigRacoon</a>
            <div class="desc">{{ post['description'] }}</div>
                <div class="stats">
                    <span class="waste-genre">#{{ post['waste_type'] }}</span>
                    <span class="distance"><i class="fa-solid fa-location-dot"></i> &nbsp;0.5km</span>
                </div>
            <div id="carousel1" class="carousel slide feed-img" data-bs-ride="carousel"  data-bs-interval="false">
                <div class="carousel-inner">
                    {% for image in post['image'] %}
                    <div class="carousel-item {{ 'active' if loop.index==1}}">
                        <img src="/static/post_images/{{image}}.jpg" class="d-block w-100">
                    </div>
                    {% endfor %}
                </div>
                <button id="prev" class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left fa-xl"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button id="next" class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right fa-xl"></i>             
                    <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="status"><i class="fa-solid fa-check"></i></div>
        </div>


    </body>
    <script>
        document.addEventListener("DOMContentLoaded", prevNext);
         function prevNext(){
            var carousel_inner = document.getElementsByClassName("carousel-inner");
            var prev = document.getElementsByClassName("carousel-control-prev");
            var next = document.getElementsByClassName("carousel-control-next");

            for (var i = 0; i < carousel_inner.length; i++)
            {
                console.log(carousel_inner[i].childElementCount);
                if(carousel_inner[i].childElementCount > 1)
                {
                    console.log(carousel_inner[i].nextElementSibling.style.display = "block");
                    prev[i].style.display = "block";
                    next[i].style.display = "block";
                }
            }
        }
    </script>

    {% endblock %}
</html>